[Desktop Entry]
Type=Application
Name=System Interface
Comment=Power, audio, network, display, and system management
Exec=cce-system-interface
Icon=cce-system-interface
Categories=Settings;System;
Keywords=power;audio;network;display;system;brightness;volume;
StartupNotify=true
StartupWMClass=cce-system-interface
